body{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    color: black;
}

.container{
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.adicionarTarefa{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.adicionarTarefa label{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.adicionarTarefa button{
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.adicionarTarefa button:hover{
    background-color: #333333;
}

.adicionarTarefa input[type="text"]{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}